body {

    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D2D3B6;
}

header {

    background-color: black;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {

    background: linear-gradient(to bottom, #747A01, #D2D3B6);
    padding: 1em;
    height: 5px;
    text-align: center;
}

nav a {

    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

main {

    padding: 1em;

}

article {
    border-style: dashed;
    background-color: #D2D3B6;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #333;
}

p {

    font-size: 25px;
    color: #666;
}

footer {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #333;
    text-align: center;
    padding: 1em 0;
}

ul {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

li {
    font-size: 25px;
    color: #666;
    position: relative;
    margin-left: 1em;
}

li:before {
    content: "\2022";
    position: absolute;
    left: -1em;
}

h1 {

    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: 'Great vibes', cursive;
    color: black;
    background: linear-gradient(to bottom, white, #D2D3B6);
    font-size: 50px;
    padding: 10px;
    width: fit-content;
    margin: 10px auto;
    border-radius: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

strong {
    color: black;
}

div {
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    background-color:#D2D3B6;

}
.div1 {
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    background-color:#fff;

}

.image {
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 10px;
}
